* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select {
    outline: none;
}

.wrapper {
    padding: 0 20px;
}

.header {
    padding: 20px 0;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
}

.main {
    background-color: lightgray;
}

.main .wrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.inputs_container .wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.country_card {
    flex-basis: 24%;
}
